@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400;1,500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background: #0074d9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.nombre {
  font-weight: bold;
}

p {
  font-size: 25px;
  margin-left: 70px;
  color: white;
}

.info {
  width: 960px;
  height: auto;
}
.content,
.presentacion {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.education {
  position: relative;
}

section {
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 36px;
  font-weight: 700;
}

dt {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 36px;
}

dd {
  margin: 0;
}

ul {
  margin-top: 12px;
  padding-left: 20px;
  display: flex;
}

li {
  margin-top: 16px;
  list-style: none;
  padding-left: 2px;
}

i {
  font-size: 24px;
  padding-left: 12px;
}

.profile-pic {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 10px;
}

img {
  width: 300px;
  position: absolute;
}

.experience {
  margin-top: 70px;
}
